html {
	font-size: 16px;
}

body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	padding-top: 20px;
	height: auto;
	border-bottom: 3px solid #77a466;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 10px 0;
}

header h1 span {
	color: #77a466;
}

nav {
	border-top: 3px solid #77a466;
}

header nav {
	padding: 10px 0;
	width: 100%;
	text-align: center;
	line-height: 3em;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	padding: 10px 0 0 0;
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 5px 0 0 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

/* ----------- For tablet screens 768px and larger ----------- */
@media (min-width: 768px) {
	.bottom-section {
		align-items: baseline;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;

	}

	.section-two h3	{
		padding-left: 20px;
	}

	.section-three h3 {
		padding-left: 20px;
	}

	.reviews {
		padding: 0 20px;
	}

 	.address {
		padding-left: 20px;
	}
}

/* ----------- For desktop screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
	header {
		justify-content: space-between;
	}

	header h1 {
		width: 30%;
		padding: 0;
		text-align: left;
	}

	header nav {
		width: 40%;
		border-top: none;
		padding-right: 20px; 
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}
}
